<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%s</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kimoland/Online-Player@main/playeronline.css">

</head>

<body class='cyber'>
    <div class="container">
        <div id="file-name" class="cyber text-center">
            <h3>%s</h3>
        </div>
        <tag src="%s" class="player" id="player"></tag>
        <!-- Moovie JS Core -->
        <script src="https://cdn.jsdelivr.net/gh/kimoland/Online-Player@main/playeronline.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var demo1 = new Moovie({
                    selector: "#player",
                    dimensions: {
                        width: "100%"
                    },
                    config: {
                        storage: {
                            captionOffset: true,
                            playrateSpeed: true,
                            captionSize: true
                        }
                    }

                });
            });
            document.addEventListener('DOMContentLoaded', () => {
                const player = Plyr.setup('.player', {
                    controls
                });
            });
            const body = document.querySelector('body');
            const title = document.querySelector('#file-name');
        </script>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
